payum:
    storages:
        "%sylius.model.order.class%": { doctrine: orm }
        "%sylius.model.payment.class%": { doctrine: orm }

    security:
        token_storage:
            Sylius\Bundle\PayumBundle\Model\PaymentSecurityToken: { doctrine: orm }

    dynamic_gateways:
        config_storage:
            Sylius\Bundle\PayumBundle\Model\GatewayConfig: { doctrine: orm }
    gateways:
        offline:
            factory: offline

jms_serializer:
    metadata:
        directories:
            sylius-payment:
                namespace_prefix: "Sylius\\Component\\Payment"
                path: "@PHCoreBundle/Resources/config/serializer/SyliusPaymentBundle"
            ph-core:
                namespace_prefix: "PH\\Component\\Core"
                path: "@PHCoreBundle/Resources/config/serializer"

sylius_payment:
    resources:
        payment_method:
            classes:
                model: PH\Component\Core\Model\PaymentMethod
                repository: Sylius\Bundle\PaymentBundle\Doctrine\ORM\PaymentMethodRepository
                controller: PH\Bundle\CoreBundle\Controller\PaymentMethodController

#sylius_resource:
#    resources:
#        ph.payment_method:
#            classes:
#                model: PH\Component\Core\Model\PaymentMethod
