<form method="post" action="{{ actionUrl }}">
    Holder name:
    <input type="text" name="sepa_holder"/>
    IBAN:
    <input type="text" name="sepa_iban"/>

    <button type="submit">Submit</button>
</form>